
.leaflet-container {
    width: 100%;
    height: 53vh;
}

.map-container .search-results {
    display: none;
}

.point-icon {
    color: red;
    padding-right: 5px;
}

.leaflet-popup-content h3 {
    font-size: 1.1rem;
}

.leaflet-popup-content p {
    margin: 18px 0;
    color: var(--light-blue);
}


@media screen and (min-width: 768px) {

    .map-container {
        display: flex;
        flex-direction: row;
    }

    .map-search-bar {
        width: 28%;
    }

    .leaflet-container {
        width: 71%;
        height: 88vh;
    }

    .map-container .search-results {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: auto;
        position: absolute;
        height: 63vh;
    }
}


