.checkbox-container {
    width: 75vw;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-checkbox {
    margin-right: 8px;
    width: 20px;
    height: 15px;
}