.station-card-container {
    background-color: var(--very-light-blue);
    color: var(--dark-green);
    height: 8vh;
    width: 95vw;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.station-card-container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.station-card-content {
    color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88vw;
}

.station-card-available-bikes {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.not-enough-bikes {
color: red;
}

@media screen and (min-width: 768px) {
    .station-card-container {
        width: 26vw;
    }

    .station-card-content {
        margin-left: 5px;
    }
}